{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<body>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                      Đăng tìm người lạc
                    </h4>
                  </div>
                <div class="card-body">
                    <form method = "post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" name = 'upload' class="btn btn-primary pull-left">Đăng</button>
                    </form>
                    </div>
            </div>
        </div>
    </div>
    
   
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
