{% extends 'layouts/base.html' %}

{% block title %} Missing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">{{title}}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select id="product-type-filter" class="form-control form-control-alternative">
                                    <option value="" disabled selected>Choose your product type</option>
                                    
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-2">
                            <a href="#!" class="btn btn-md btn-primary">Lọc</a>
                        </div>
                    </div>
                    <div class="row">

                        {% for item in items %}
                        <div class="col-md-3 border px-3 py-3" style="cursor: pointer;">
                            <a href="/productdetail?missing_people_id={{ item.id }}">
                                <img style="height: 300px; width: auto;" src="{{item.image.url}}" class="img-thumbnail" alt="">
                                <div class="d-flex flex-row justify-content-start">
                                    <a href="#"></a>
                                </div>
                                <div class="d-flex flex-row justify-content-start">
                                    <h3>{{ item.name }}</h3>
                                </div>
                                <div class="d-flex flex-row justify-content-start">

                                    <h5>Giới tính : {{ item.gender }}</h5>
                                </div>
                              
                            </a>
                        </div>
                        {% endfor %}
                      
                    </div>
                </div>
            </div>

           
        </div>

        {% endblock content %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}