{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Đăng ký tài khoản
          </h4>
        </div>
        
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                Add your credentials
              {% endif %}  
          </h6>
          
          <br />

          {% if success %}

            <p class="">
              Please <a href={% url 'login' %} class="text-black text-small">authenticate</a> using the new account.
            </p>  

          {% else %}
            <form role="form" method="post" action="">
                
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label >Tên đăng nhập</label>
                    {{ form.username }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.username.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label >Email</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label >Họ</label>
                    {{ form.last_name }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.last_name.errors }}</span>

              <br />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Tên đệm và tên</label>
                    {{ form.first_name }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.first_name.errors }}</span>

              <br />


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label >Mật khẩu</label>
                    {{ form.password1 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password1.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Xác nhận mật khẩu</label>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password2.errors }}</span>

              <br />

              <button type="submit" name="register" class="btn btn-primary pull-left">Đăng ký</button>

              &nbsp; &nbsp; 
              <span class="pull-right">
                Bạn đã có tài khoản? <a href="{% url 'login' %}" class="text-primary">Đăng nhập</a>
              </span>

              <div class="clearfix"></div>

            </form>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
